body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
  color: #fff;
  background-color: #ffffe0;
}

/** Header start **/
#header-nav {
  background-color: #9b242d;
  border-radius: 0;
  border: 0;
}

#logo-image {
  background: url('../images/kj-logo_large.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: #ffffe0;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand p {
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 10px;
}

.navbar-brand p span {
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #fff;
  text-align: center;
}
#nav-list a:hover, #nav-list .active>a {
  color: #9b242d;
  background: #ffffe0;
  border-radius: 8px;
  border: 2px solid #9b242d;
}
#nav-list a span {
  font-size: 1.8em;
}

#donate {
  margin-top: 5px;
}
#donate a {
  text-align: right;
}
#donate div {
  color: #90ee90;
  text-align: right;
  padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #ffffe0;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#collapsable-nav a {
  font-size: 1.2em;
}

#collapsable-nav a span {
  font-size: 1em;
  margin-right: 5px;
}
/** Header end **/

/** Homepage start **/
.container .jumbotron {
  box-shadow: 0 0 50px #3f0c1f;
  border: 2px solid #3f0c1f;
}

#news-tile, #events-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  border: 2px solid #3f0c1f;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
}
#news-tile:hover, #events-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
#news-tile {
  background: url('../images/IMG_3168\ \(2\).JPG') no-repeat;
  background-position: center;
}
#events-tile {
  background: url('../images/events-tile.jpg') no-repeat;
  background-position: center;
}
#news-tile span, #events-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.6em;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
#home-tiles #ad {
  color: #ffffff;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  -webkit-text-stroke: 0.3px yellow;
}

@media (max-width:700px){
  #home-tiles #ad {
    font-size: 2rem;
  }
}
/** Homepage end **/

/** Footer start *
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#social, #address {
  line-height: 2;
}
#social > span, #address > span {
  font-size: 1.3em;
}
.panel-footer a:link, .panel-footer a:visited, .panel-footer a:hover, .panel-footer a:focus, .panel-footer a:active {
  text-decoration: none;
}
.panel-footer a {
  color: #fff;
}
.panel-footer a:hover {
  color: #7ad7f0;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/** Footer end **/

/** Gallery Page Start **/
#wrapper h1,#wrapper h2,#wrapper h3,#wrapper h4,#wrapper h5 {
  color:#9b242d;
}
.page-heading {
  font-weight: bold;
  padding-bottom: 20px;
  color:#9b242d;
}

#wrapper h2 {
font-family: 'Roboto',Arial, Helvetica, sans-serif;
font-size:14px;
height:20px;
color:#9b242d;
}

#wrapper h2 span {
display:inline-block;
color:#fff;
background:#9b242d;
padding:2px 6px 3px 6px;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
margin-right:10px;
}

#wrapper{
  padding:60px 0 0 0;
}
#wrapper .row {
  color:#000;
  font-size:10px;
  font-weight:200;
}

#wrapper h4 {
  display:inline-block;
  margin-bottom:40px;
  font-weight:500;
  padding:15px 30px 15px 30px;
}

#wrapper a {
   outline: 0 !important;
}

#wrapper .col-md-4{
  font-weight:500;
  margin-bottom:40px;
}

#wrapper .col-md-4 img {
  width:96%;
  height:auto;
  margin-bottom:40px;
  border-radius:0px;
  -moz-border-radius:0;
  -webkit-border-radius:0;
  outline:none;
  
  
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:    10px 10px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow:         10px 10px 20px 0px rgba(0, 0, 0, 0.1);
}


#wrapper .col-md-4:hover img {
  background:#9b242d;
  opacity:.8; 
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:    10px 10px 20px 0px rgba(0, 0, 0, 0.3);
  box-shadow:         10px 10px 20px 0px rgba(0, 0, 0, 0.3);
}

#wrapper .col-md-4:hover h2 {
  color:#000;
}

#wrapper .label {
color:#fff;
background:#9b242d;
font-weight:800;
padding:2px 2px 2px 4px;
margin-right:10px;
}


#wrapper .img-responsive {
  margin:0 auto;
}

#wrapper .col-md-4 h2,
#wrapper .col-md-4 img,
#wrapper h2:before,#wrapper h2:after {
-o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s;
transition:.5s;
 outline: none;
}

/** Gallery Page end **/

/** About & Team Pages Start **/
.about {
    margin-top:70px;
    background: #ffffe0;

}
 
.our-team {
    padding: 20px 15px 30px;
    background: #ffffe0;
    border-radius: 15px;
    text-align: center;
    border:3px solid #9b242d;

}
.about .col-md-6 .our-team {
  height: 190px;
  overflow: auto;
}
#centres .col-md-3 .our-team {
  height: 150px;
  overflow: auto;
}

.our-team:hover {
  transition: .5s;
  box-shadow: 0px 1px 5px 0px #d1d1d1;
}
.our-team .pic {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #bebebe;
    padding: 5px;
    margin-bottom: 25px;
    transition: all 0.5s ease 0s;
    border-radius: 50%;
}
.our-team:hover .pic {
    background: #9b242d;
    border-radius: 50%;
}
.pic img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.our-team .title {
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    margin: 0 0 7px 0;
}
.our-team .post {
    display: block;
    font-weight: bold;
    font-size: 15px;
    color: #9b242d;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.our-team .social {
    padding: 0;
    margin: 0;
    list-style: none;
}
.our-team .social li {
    display: inline-block;
    margin-right: 5px;
    text-decoration: none;
}
.our-team .social li a {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 15px;
    color: #9b242d;
    border: 1px solid #9b242d;
    transition: all 0.5s ease 0s;
    text-decoration: none;
}
.our-team:hover .social li a {
    background: #9b242d;
    color: #fff;
    text-decoration: none;
}
@media only screen and (max-width: 990px) {
    .our-team{ margin-bottom: 30px; }
}

/** About Page end **/

/** Contact Page Start **/
#contact_us {
  margin-top: 30px;
}

#contact_us .options {
  height: 220px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 20px 15px 30px;
  border-radius: 15px;
  text-align: left;
  border:3px solid #9b242d;
  color: #9b242d;
  overflow: auto;
}
#contact_us h3 {
  text-transform: capitalize;
  color: #000;
  font-size: 20px;
}
.options a:link, .options a:visited, .options a:hover, .options a:focus, .options a:active {
  text-decoration: none;
}
.options a {
  text-transform: lowercase;
  color: #9b242d;
}
/** Contact Page end **/

/** Donate Page Start **/
.payment {
    margin-top:70px;
}
 
.scanner {
    padding: 20px 15px 30px;
    border-radius: 10px;
    text-align: center;
    border:5px solid #9b242d;
    margin-bottom: 10px;

}
.scanner:hover {
  transition: .5s;
  box-shadow: 0px 1px 5px 0px #d1d1d1;
}
.scanner .pic {
    display: inline-block;
    width: 50%;
    height: 100%;
    background: #bebebe;
    padding: 5px;
    margin-bottom: 25px;
    transition: all 0.5s ease 0s;
    border-radius: 10px;
}
.scanner:hover .pic {
    background: #9b242d;
    border-radius: 10px;
}
.scanner .pic img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.scanner .title {
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    margin: 0 0 7px 0;
}
.scanner .upi_id {
    display: block;
    font-weight: bold;
    font-size: 20px;
    color: #9b242d;
    margin-bottom: 15px;
}
.scanner .quote {
    display: block;
    font-weight: bold;
    font-size: 20px;
    color: #000;
    margin-bottom: 15px;
}
.scanner p {
  text-align: right;
  color: #000;
  font-style: italic;
}

/** Donate Page end **/

/********** Large devices only **********/
@media (min-width: 1200px) {
  .container .jumbotron {
    background: url('../images/jumbotron_1200.jpg') no-repeat;
    height: 675px;
  }
}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  #logo-image {
    background: url('../images/kj-logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }

  .container .jumbotron {
    background: url('../images/jumbotron_992.jpg') no-repeat;
    height: 558px;
  }
}
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .container .jumbotron {
    background: url('../images/jumbotron_768.jpg') no-repeat;
    height: 432px;
  }
}
/********** Extra Small devices only **********/
@media (max-width: 767px) {
  .navbar-brand {
  padding-top: 10px;
  height: 80px;
  }
  .navbar-brand h1 {
    padding-top: 10px;
    font-size: 5vw;
  }
  .navbar-brand p {
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img {
    height: 20px;
  }
  #donate-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #000;
    background-color: #9b242d;
    color: #ffffe0;
  }
  #donate-btn_active > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #000;
    background-color: #ffffe0;
    color: #9b242d;
  }
  #xs-love {
    color: #000;
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }

  #news-tile, #events-tile {
    width: 280px;
    margin: 0 auto 15px;
  }

}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  .navbar-brand h1 {
    padding-top: 5px;
    font-size: 4vw;
  }
  .container h1{
    font-size: small;
  }

  #news-tile, #events-tile {
    width: 280px;
    margin: 0 auto 15px;
  }
  .our-team h3{
    position: relative;
    right: 8px;
  }

  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0;
  }
  .panel-footer section hr {
    width: 50%;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
  @media (max-width:200px) {
    .our-team h3{
      transform: scale(0.5);
      position: relative;
      right: 10px;
      
    }
  }

  /* Alumnin Section */

}#alumini{
  height: 500px ;
  background-color: #222;
  margin: 0;
  padding: 0;
  width: 100vw;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

}#alumini span{
height: 90px;
width: 90px;
border-radius: 50%;
border: red;
background-color: white;
display: flex;
justify-content: center;
align-items: center;

}#alumini h1{
  font-variant:small-caps;
  
  position: relative;
  top: -10px;
 

}
 #social_media li {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid #9b242d;
  background: #fff;
}
#social_media li a{
  position: relative;
  right: -5px;
  top: 3px;
}
#social_media{
  position: relative;
  right: 10px;
  
}
#alumini span:hover{
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 4px solid red; 
  background-color:white;}
  
#alumini span img{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  
}

#alumini span img:hover{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 4px solid red; 
  
  }

#alumini h1:hover{
  font-weight: bold;
  
  
  position: relative;
  top: -15px;
 

}
#alumini_profile{
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;

} @media (max-width: 860px){
  #alumini{

    height: 900px;
    
  }
#alumini_profile{
  flex-wrap: wrap;
}
#alumini{
height: 400px;
}#alumini span{
  height: 45px;
  width: 45px;
}#alumini h1{
  transform: scale(0.5);
}#alumini span img{
  height: 65px;
  width: 65px;
  border-radius: 50%;
  
}
#alumini span:hover{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 1px solid red;
  background-color: white;

}

#alumini span img:hover{
  height: 65px;
  width: 65px;
  border-radius: 50%;
  }
}

@media (max-width:200px) {
  #alumini{

    height: 600px;
    
  }

  #alumini span img{
         height: 30px;
         width: 30px;
  }
  #alumini span{
    height: 30px;
    width: 30px;
  }
  #alumini span img:hover{
    height: 35px;
    width: 35px;
}
#alumini span:hover{
height: 35px;
width: 35px;
}
}
.alum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(0.7);
  gap: 5px;
}

@media (max-width:475px) {
  #alumini h1{
    transform: scale(0.9);
  }
  #alumini{
    height: 700px;
  }
}
@media (max-width:300px) {
  #alumini{
    height: 1500px;
  }
  #alumini h1{
    position: relative;
    right: -15px;
    transform: scale(0.5);
  }
  #social_media li {
    font-size: small;
    display: inline-block;
    margin-right: 15px;
    
  }
  #social_media li a{
    display: block;
    font-size: 20px;
    color: #9b242d;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  
  }

}
#social_media li {
  font-size: large;
  display: inline-block;
  margin-right: 15px;
}
#social_media li a{
  display: block;
  font-size: 20px;
  color: #9b242d;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-decoration: none;

}
@media (max-width:1120px) {
  #alumini{
    height: 800px;
  }
}
@media (max-width:675px) {
  #alumini{
    height: 900px;
  }
}
@media (max-width:500px) {
  #alumini{
    height: 1300px;
  }
  #social_media li {
    font-size: small;
    display: inline-block;
    margin-right: 15px;
  }
  #social_media li a{
    display: block;
    font-size: 20px;
    color: #9b242d;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  
  }

}

/* content and branding*/

.content{
  
  width: 100%vw;
  height: 500px;
  background: #fff;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cont{
  display: flex;
  justify-content: center;
  align-items: center;
   flex-direction: column; 
  flex-wrap: wrap;
  
}
.cont2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap:40px;
}
.cont span{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
border: 2px solid white;
  
}
.cont span img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  
}
.content ul{
  position: relative;
  right: 10px;
}
.cont ul li{
  display: inline-block;
  /* background: #9b242d; */
  margin-right: 20px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  /* background: #9b242d; */
  border: 2px solid #9b242d;
  
}
.cont ul li a{
  display: block;
  justify-content: center;
  align-items: center;
  position: relative;
  right: -3px;
  top: 3px;
  color: #9b242d;
}

.cont img:hover{
      border: 6px solid green;
}
.cont h3:hover{
    font-weight: bold;
}
.cont ul li:hover{
  background: #9b242d;
  
}
.cont ul li a:hover{
  color: white;
  text-decoration: none;
}
.content h1{
  
  position: relative;
  top: -70px;
  color: #9b242d;
  font-weight: bold;
}
.content h1:hover{
  font-weight: bold;
}
.content h4{
  position: relative;
  top: -7px;
  color: #9b242d;
  
}
.cont h3{
  color: #000;
}
.content h4:hover{
  font-weight: bold;
}
@media (max-width:1100px) {
            .content{
              height: 700px;
            }
            .content h4:hover{
              font-weight: bold;
            }
            .content h1:hover{
              font-weight: bold;
            }
           
.cont img:hover{
  border: 3px solid green;
}
.cont h3:hover{
font-weight: bold;
}

}
@media (max-width:650px) {
  .content{
    height: 1000px;
  }
  .content h4:hover{
    font-weight: bold;
  }
  
  .content h1:hover{
    font-weight: bold;
  }
  
.cont img:hover{
  border: 3px solid green;
}
.cont h3:hover{
font-weight: bold;
}


}
@media (max-width:453px) {
  .content{
    height: 1100px;
  }
  .content h4:hover{
    font-weight: bold;
  }
  
.cont img:hover{
  border: 3px solid green;
}
.cont h3:hover{
font-weight: bold;
}
  
  .content h1:hover{
    font-weight: bold;
  }
  .content span{
    width: 50px;
    height: 50px;
  }
  .content span img{
    width: 50px;
    height: 50px;
  }
  .content h1{
    font-size: large;
  }
  .cont h3{
    transform: scale(0.9);
  }
  .cont ul li a{
    display: inline-block;
    /* background: #9b242d; */
    margin-right: 20px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: relative;
    top:0px
    
  }
  .cont ul{
    position: relative;
    right: 10px;
  }
}
@media (max-width:420px){
  .content{
    height: 1300px;
  }
}